@import model._

@(lineup: Seq[LineupEntryWithPlayer], allPlays: Seq[GameAction])

<div class="table-responsive-sm">
    <table class="table table-sm table-striped table-hover">
        <thead>
            <tr>
                <th>Pitcher</th>
                <th>IP</th>
                <th>ER</th>
                <th>H</th>
                <th>BB</th>
                <th>K</th>
                <th>ERA</th>
            </tr>
        </thead>
        <tbody>
            @for(pitcher <- lineup.filter(_.lineupEntry.battingPos == 0).sortBy(_.lineupEntry.id)) {
                <tr>
                    <td>
                    @if(pitcher.lineupEntry.replacedBy.isDefined) {
                        <del>@pitcher.player.player.name</del>
                    } else {
                        @pitcher.player.player.name
                    }
                    </td>
                    <td>@{"%.1f".format(allPlays.filter(p => p.pitcher.contains(pitcher.player.player.id)).foldLeft(0)(_ + _.outsTracked) / 3.0).replace(".3", ".1").replace(".7", ".2")}</td>
                    <td>@{allPlays.filter(_.pitcher.contains(pitcher.player.player.id)).foldLeft(0)(_ + _.runsScored)}</td>
                    <td>@allPlays.count(p => p.pitcher.contains(pitcher.player.player.id) && (p.result.contains("HR") || p.result.contains("3B") || p.result.contains("2B") || p.result.contains("1B")))</td>
                    <td>@allPlays.count(p => p.pitcher.contains(pitcher.player.player.id) && (p.result.contains("BB") || p.result.contains("Auto-BB")))</td>
                    <td>@allPlays.count(p => p.pitcher.contains(pitcher.player.player.id) && (p.result.contains("K") || p.result.contains("Auto-K") || p.result.contains("Bunt K")))</td>
                    <td>@{"%.2f".format(pitcher.player.pitchingStats.era)}</td>
                </tr>
            }
        </tbody>
    </table>
</div>

<div class="table-responsive-sm">
    <table class="table table-sm table-striped table-hover">
        <thead>
            <tr>
                <th>#</th>
                <th>Player</th>
                <th>Pos</th>
                <th>PA</th>
                <th>H</th>
                <th>RBI</th>
                <th>K</th>
                <th>BA</th>
            </tr>
        </thead>
        <tbody>
        @for(entry <- lineup.filterNot(_.lineupEntry.battingPos == 0).sortBy(e => (e.lineupEntry.battingPos, e.lineupEntry.id))) {
            <tr>
                @if(entry.lineupEntry.replacedBy.isDefined) {
                    <td><del>@entry.lineupEntry.battingPos</del></td>
                    <td><del>@entry.player.player.name</del></td>
                } else {
                    <td>@entry.lineupEntry.battingPos</td>
                    <td>@entry.player.player.name</td>
                }
            <td>@entry.lineupEntry.position</td>
            <td>@allPlays.count(p => p.batter.contains(entry.player.player.id) && (p.playType != PLAY_TYPE_STEAL && p.playType != PLAY_TYPE_MULTI_STEAL))</td>
            <td>@allPlays.count(p => p.batter.contains(entry.player.player.id) && (p.result.contains("HR") || p.result.contains("3B") || p.result.contains("2B") || p.result.contains("1B")))</td>
            <td>@allPlays.filter(p => p.batter.contains(entry.player.player.id)).foldLeft(0)(_ + _.runsScored)</td>
            <td>@allPlays.count(p => p.batter.contains(entry.player.player.id) && (p.result.contains("K") || p.result.contains("Auto-K") || p.result.contains("Bunt K")))</td>
            <td>@{"%.3f".format(entry.player.battingStats.ba)}</td>
            </tr>
        }
        </tbody>
    </table>
</div>

