@(game: model.GameWithRecentPlay)

<span>
    @Html(game.recentPlay.filter(_.resultPlayerOnThird.isDefined).map(_ => "&#x25C6;").getOrElse("&#x25C7;"))
    @Html(game.recentPlay.filter(_.resultPlayerOnSecond.isDefined).map(_ => "<sup>&#x25C6;</sup>").getOrElse("<sup>&#x25C7;</sup>"))
    @Html(game.recentPlay.filter(_.resultPlayerOnFirst.isDefined).map(_ => "&#x25C6;").getOrElse("&#x25C7;"))
    @game.awayTeam.tag @game.recentPlay.map(_.resultScoreAway).getOrElse(0) - @game.recentPlay.map(_.resultScoreHome).getOrElse(0) @game.homeTeam.tag
    |
    @game.inningWithOuts
</span>
